[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
sympy = "*"
seaborn = "*"
jupyter = "*"
ipykernel = "*"
statsmodels = "*"
sklearn = "*"
pulp = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.7"
